<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />

    <application
        android:name=".ApplicationClass"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity
            android:name=".StepCounterMainActivity"
            android:exported="true" />

        <service
            android:name=".core.service.StepCounterService"
            android:exported="false"
            android:foregroundServiceType="health" />

        <receiver
            android:name=".core.service.StepCounterServiceLauncher"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>